@import "../../../css-config/mixins.scss";

.main{

    border-top: 10px solid goldenrod;
    img{
        width: 100%;
        cursor: pointer;
        border-bottom: 12px solid aliceblue;
    }
    
    
}