@import "../../../css-config/mixins.scss";

.contact {
  height: 700px;
  background-image: linear-gradient(to right, #361652, #e0d800);
  background-size: cover;
  background-blend-mode: darken;
}

.text-center {
  //text-align: center;
  color: black;
  padding: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 800;
  &:after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 50px;
    height: 3px;
    background-color: blueviolet;
    @include md {
      margin-top: 10px;
    }
  }
}

.form {
  padding: 10px;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-group {
    width: 80%;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 9px;
    font-family: "Ubuntu", sans-serif;
  }
  .btn {
    padding: 8px 10px;
    margin: 10px 0;
    width: 100px;
  
    border-radius: 8px;

    cursor: pointer;
    color: black;
    border: 1px solid grey;
    background-color: white;

    a{
        text-decoration: none;
    }
  }
  
}
